* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #e5e5e5;
}

/* ================= HEADER ================= */

.top-bar {
    background: linear-gradient(to right, #cde2db, #f4b7a6);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-left {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.burger {
    width: 20px;
    height: 2px;
    background: #000;
    position: relative;
}

.burger::before,
.burger::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    left: 0;
}

.burger::before { top: -6px; }
.burger::after { top: 6px; }

.logo {
    text-align: center;
}

.logo h1 {
    font-size: 28px;
    line-height: 1;
}

.logo span {
    font-size: 14px;
}

.login a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.logo img{
    height: 70px;
    width: auto;
    display: block;
}

/* ================= CATEGORIES ================= */

.categories {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 25px 0;
}

.btn-cat {
    padding: 8px 20px;
    border: 2px solid #444;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    background: #fff;
    font-weight: bold;
}

/* ================= CATALOGUE ================= */

.catalogue {
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-bottom: 60px;
}

.card {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0,0,0,0.4);
    color: #fff;
}

.overlay h2 {
    font-size: 22px;
}

.overlay p {
    font-size: 16px;
}

/* ================= FOOTER ================= */

footer {
    background: linear-gradient(to right, #cde2db, #f4b7a6);
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 10px;
}

/* ================= RESPONSIVE ================= */

@media (max-width: 768px) {
    .catalogue {
        grid-template-columns: 1fr;
    }

    .top-bar {
        flex-direction: column;
        gap: 10px;
    }
}
